alfred
android-sdk
android-studio
appcleaner
atom
ava
barrier
blackhole-2ch
burn
coconutbattery
coderunner
eclipse-ide
eclipse-java
firefox
font-caskaydia-cove-nerd-font
font-jetbrains-mono
freeze
ghidra
github@beta
gitkraken
google-chrome
google-drive
inkscape
intellij-idea-ce
iterm2
libreoffice
little-snitch
macdown
mactex
mamp
mattermost
mixxx
nextcloud
obs
openemu
openscad
prismlauncher
processing
prusaslicer
raspberry-pi-imager
scratch
sf-symbols
slack
sublime-text
utm
virtualbox
vscodium
wine-crossover
zotero
zulip
zulu