abseil
aom
apr
apr-util
argon2
aspell
autoconf
brotli
ca-certificates
cmake
curl
fontconfig
freetds
freetype
gcc
gd
gettext
giflib
git
git-lfs
gmp
highway
icu4c
imath
isl
jpeg-turbo
jpeg-xl
krb5
libavif
libidn2
libmpc
libnghttp2
libpng
libpq
libsodium
libssh2
libtiff
libtool
libunistring
libvmaf
libzip
little-cms2
lz4
m4
mpfr
oniguruma
openexr
openldap
openssl@3
pcre2
php@8.0
protobuf
readline
rtmpdump
sqlite
tidy-html5
unixodbc
webp
wget
xz
zstd
