abseil
ack
ampl-asl
aom
apache-arrow
apr
apr-util
argon2
aria2
aribb24
asio
aspell
assimp
at-spi2-core
autoconf
autoconf-archive
automake
aws-c-auth
aws-c-cal
aws-c-common
aws-c-compression
aws-c-event-stream
aws-c-http
aws-c-io
aws-c-mqtt
aws-c-s3
aws-c-sdkutils
aws-checksums
aws-crt-cpp
aws-sdk-cpp
bash
bash-completion
bat
bench
berkeley-db@5
bison
blake3
boost
brew-cask-completion
brotli
bullet
c-ares
c-blosc
ca-certificates
cabextract
cairo
capstone
cava
cbc
ccache
ceres-solver
certifi
cfitsio
cgl
cgns
check
cjson
cli11
clp
cmake
cocoapods
coinutils
composer
console_bridge
coreutils
cppcheck
cppzmq
cunit
curl
dartsim
dav1d
dbus
diff-so-fancy
discount
double-conversion
doxygen
dtc
duf
eigen
entr
epsilon
expat
faac
faad2
fastlane
fcl
fdk-aac
ffmpeg
fftw
flac
flann
fmt
fontconfig
free-mac
freeimage
freetds
freetype
freexl
frei0r
fribidi
fzf
gcc
gd
gdal
gdbm
gdk-pixbuf
geos
gettext
gflags
gh
ghostscript
giflib
git
git-lfs
glew
glfw
glib
glib-networking
glog
gmp
gnupg
gnutls
gobject-introspection
goclone
google-benchmark
gpgme
gradle
graphene
graphite2
graphviz
grpc
gsettings-desktop-schemas
gstreamer
gtk+3
gtk4
gts
gz-cmake3
gz-cmake4
gz-common5
gz-common6
gz-fuel-tools9
gz-gui8
gz-gui9
gz-harmonic
gz-launch7
gz-math7
gz-math8
gz-msgs10
gz-msgs11
gz-physics7
gz-plugin2
gz-plugin3
gz-rendering8
gz-rendering9
gz-sensors8
gz-sim8
gz-tools2
gz-transport13
gz-transport14
gz-utils2
gz-utils3
gzip
harfbuzz
haskell-stack
hdf5
helm
hicolor-icon-theme
highway
hiredis
htop
httrack
hunspell
hwloc
hyperfine
icu4c@75
icu4c@76
icu4c@77
imath
iniparser
ipopt
ipsw
isl
jasper
jbig2dec
jpeg-turbo
jpeg-xl
jq
json-c
json-glib
jsoncpp
just
k9s
krb5
kubernetes-cli
lame
leptonica
libaec
libarchive
libass
libassuan
libavif
libb2
libbluray
libccd
libcuefile
libde265
libdeflate
libepoxy
libevent
libgcrypt
libgee
libgeotiff
libgit2
libgit2@1.7
libgit2@1.8
libgpg-error
libharu
libheif
libidn
libidn2
libimobiledevice
libimobiledevice-glue
libkml
libksba
liblerc
libmicrohttpd
libmng
libmpc
libnghttp2
libnice
libogg
libomp
libplist
libpng
libpq
libpsl
libreplaygain
librist
librsvg
librttopo
libsamplerate
libscrypt
libshout
libslirp
libsndfile
libsodium
libsoup
libsoxr
libspatialite
libssh
libssh2
libtasn1
libtiff
libtommath
libtool
libunibreak
libunistring
libusb
libusbmuxd
libusrsctp
libuv
libvidstab
libvmaf
libvorbis
libvpx
libvterm
libx11
libxau
libxcb
libxdmcp
libxext
libxfixes
libxi
libxml2
libxrender
libxtst
libyaml
libzip
libzzip
little-cms2
llvm
llvm@18
lpeg
lporg
lua
luajit
luv
lz4
lzo
m-cli
m4
mas
mbedtls
md4c
metis
minizip
mpdecimal
mpfr
mpg123
msgpack
musepack
mysql
nasm
ncdu
ncurses
neovim
net-snmp
netcdf
netpbm
nettle
ninja
nlohmann-json
nlopt
node
npth
nspr
nss
numpy
octomap
ode
ogre1.9
ogre2.3
ollama
oniguruma
onnx
open-mpi
open-scene-graph
openblas
opencore-amr
opencv
openexr
openjdk
openjpeg
openldap
openssl@3
openvino
opus
orc
orocos-kdl
osi
ossp-uuid
p11-kit
p7zip
pango
pcre
pcre2
pdfpc
php
pinentry
pipenv
pipx
pixman
pkgconf
pmix
poco
poppler
popt
portaudio
postgresql@14
proj
protobuf
protobuf@29
pugixml
pv
py3cairo
pybind11
pyenv
pygobject3
pyqt
pyqt@5
python-packaging
python-setuptools
python@3.10
python@3.12
python@3.13
qemu
qhull
qt
qt@5
ranger
rapidjson
rav1e
rbenv
re2
readline
redis
rename
rlwrap
rtmpdump
rubberband
ruby
ruby-build
ruby-install
rust
rustup
scc
sdformat14
sdl2
shared-mime-info
sip
smartmontools
snappy
spdlog
speex
sqlite
srt
srtp
suite-sparse
svt-av1
swi-prolog
taglib
task
taskwarrior-tui
tbb
tcl-tk
terminal-notifier
tesseract
thefuck
theora
thrift
tidy-html5
tinyxml2
tldr
tmux
tor
trash
tree
tree-sitter
unbound
unibilium
unixodbc
unzip
urdf-viz
urdfdom
urdfdom_headers
uriparser
utf8cpp
utf8proc
vde
vim
vtk
webp
wget
winetricks
x264
x265
xcenv
xcode-build-server
xcode-kotlin
xcodegen
xcodes
xerces-c
xorgproto
xvid
xxhash
xz
yaml-language-server
yarn-completion
you-get
youtube-dl
youtubedr
youtubeuploader
yuicompressor
z3
zeromq
zimg
zlib
zoxide
zsh-autosuggestions
zsh-you-should-use
zstd
zurl
appcleaner
background-music
cinebench
firefox
freac
geekbench
geekbench-ai
hiddenbar
lyricsx
mactex
raspberry-pi-imager
safe-exam-browser
sf-symbols
spotify
tor-browser
virtualbox
