alfred
android-sdk
appcleaner
atom
ava
barrier
blackhole-2ch
burn
coconutbattery
coderunner
github-desktop
eclipse-ide
eclipse-java
firefox
font-caskaydia-cove-nerd-font
font-jetbrains-mono
freeze
ghidra
gitkraken
google-chrome
google-drive
inkscape
intellij-idea-ce
libreoffice
little-snitch
iterm2
macdown
mactex
mamp
mattermost
mixxx
nextcloud
obs
openemu
openscad
prismlauncher
processing
prusaslicer
raspberry-pi-imager
scratch
sf-symbols
slack
sublime-text
virtualbox
wine-crossover
zotero
zulip
zulu
