abseil
ack
aom
apr
apr-util
argon2
aria2
aribb24
aspell
assimp
at-spi2-core
autoconf
bash
bash-completion
bat
berkeley-db@5
brew-cask-completion
brotli
c-ares
ca-certificates
cabextract
cairo
capstone
certifi
cjson
cmake
cocoapods
composer
coreutils
curl
dav1d
dbus
diff-so-fancy
discount
double-conversion
dtc
duf
entr
faac
faad2
fdk-aac
ffmpeg
flac
fontconfig
freetds
freetype
frei0r
fribidi
fzf
gd
gdbm
gdk-pixbuf
gettext
gh
ghostscript
giflib
git
git-lfs
glib
glib-networking
gmp
gnupg
gnutls
gobject-introspection
gpgme
gradle
graphene
graphite2
gsettings-desktop-schemas
gstreamer
gtk+3
gtk4
gzip
harfbuzz
haskell-stack
helm
hicolor-icon-theme
highway
htop
hunspell
hyperfine
icu4c
imath
jasper
jbig2dec
jpeg-turbo
jpeg-xl
jq
json-glib
just
k9s
krb5
kubernetes-cli
lame
leptonica
libarchive
libass
libassuan
libavif
libb2
libbluray
libcuefile
libepoxy
libevent
libgcrypt
libgee
libgit2
libgit2@1.7
libgpg-error
libidn
libidn2
libksba
libmicrohttpd
libmng
libnghttp2
libnice
libogg
libpng
libpq
libpsl
libreplaygain
librist
librsvg
libsamplerate
libshout
libslirp
libsndfile
libsodium
libsoup
libsoxr
libssh
libssh2
libtasn1
libtiff
libtool
libunibreak
libunistring
libusb
libusrsctp
libuv
libvidstab
libvmaf
libvorbis
libvpx
libvterm
libx11
libxau
libxcb
libxdmcp
libxext
libxfixes
libxi
libxml2
libxrender
libxtst
libyaml
libzip
little-cms2
llvm
llvm@18
lpeg
lporg
luajit
luv
lz4
lzo
m-cli
m4
mas
mbedtls
md4c
mpdecimal
mpg123
msgpack
musepack
mysql
ncdu
ncurses
neovim
nettle
ninja
node
npth
nspr
nss
ollama
oniguruma
opencore-amr
openexr
openjdk
openjpeg
openldap
openssl@3
opus
orc
p11-kit
p7zip
pango
pcre2
pdfpc
php
pinentry
pipenv
pipx
pixman
pkg-config
poppler
postgresql@14
protobuf
pv
py3cairo
pygobject3
python-packaging
python@3.10
python@3.12
qemu
qt
ranger
rav1e
rbenv
readline
redis
rename
rlwrap
rtmpdump
rubberband
ruby
ruby-build
ruby-install
rust
rustup
scc
sdl2
snappy
speex
sqlite
srt
srtp
svt-av1
swi-prolog
taglib
task
taskwarrior-tui
tcl-tk
tesseract
thefuck
theora
tidy-html5
tldr
tmux
trash
tree
tree-sitter
unbound
unibilium
unixodbc
unzip
utf8proc
vde
webp
wget
winetricks
x264
x265
xcenv
xcode-build-server
xcode-kotlin
xcodegen
xcodes
xorgproto
xvid
xz
yaml-language-server
yarn-completion
you-get
youtube-dl
youtubedr
youtubeuploader
yuicompressor
z3
zeromq
zimg
zlib
zoxide
zsh-autosuggestions
zsh-you-should-use
zstd
zurl